#task-template {
    display: none;
}

#main-content {
    margin: 1rem;
}

#task-button-group {
    margin-top: 1rem;
}

#clear {
    margin-top: 1rem;
}

#light-switch {
    margin-bottom: 1rem;
}

.task {
    margin-top: 0.25rem;
}